* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.topo {
    width: 100%;
    height: 70px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;

}

.topo>h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: white;
}

.criar-quizz {
    border: 1px dashed #D4D4D4;
    width: 1051px;
    height: 181px;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 97px;
}

.criar-quizz>p {
    width: 250px;
    height: 107px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #B9B9B9;
    padding-top: 20px;

}

.botao-criar {
    width: 151px;
    height: 40px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
    text-align: center;
    padding-top: 12px;
    color: #EC362D;

}

.botao-criar:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
}


.listar-quizz {
    width: 1051px;
    flex-wrap: wrap;
    height: auto;
    /*mudar para auto*/
    margin: 0 auto;
    margin-top: 77px;
}

.listar-quizz>p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;

}

.quizzes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

.quizz {
    /*css para estilo do quizz*/
    width: 340px;
    height: 181px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
    position: relative;
    margin-bottom: 12px;
    /*margin-right: 20px;*/
}

.quizz:hover {
    cursor: pointer;
}

.quizz img {
    width: 340px;
    height: 181px;
    -webkit-mask-image: linear-gradient(to top, transparent 10%, black 100%);
}

.quizz>p {
    width: 301px;
    height: 54px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    bottom: 5px;
    left: 20px;
}


.oculto {
    display: none;
}


.montar-quizz h3 {
    margin-top: 38px;
    margin-bottom: 29px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.inputs {
    width: 600px;
    height: 256px;
    display: flex;
    flex-direction: column;
    padding: 22px 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
    margin: 0 auto;
}

.inputs>input {
    height: 46px;
    margin: 0 18px;
    margin-bottom: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding-left: 15px;
    outline: none;
}

.botao-criarQuizz {
    width: 324px;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF5F4;
    margin: 0 auto;
    margin-top: 23px;

}

.botao-criarQuizz:hover {
    cursor: pointer;
}

.topo-quiz {
    width: 100%;
    height: 142px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.topo-quiz>p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
}

.topo-quiz>img {
    width: 100%;
    height: 142px;
    position: relative;
    object-fit: cover;
    opacity: 0.6;
}

.respostas-quiz {
    width: 759px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    padding: 28px 37px;
    margin-top: 42px;
    margin-bottom: 42px;
}

.titulo-pergunta {
    width: 688.16px;
    height: 137.99px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-pergunta>h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
}

.pergunta-resposta {
    margin-top: 20px;

    /*justify-content: space-between;*/
    width: 49%;
    height: 52%;
    cursor: pointer;
    position: relative;
    padding: 5px 0;


}

.quiz-respostas {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 82%;
}

.pergunta-resposta img {

    width: 100%;
    height: 175px;

}

.pergunta-resposta span {
    font-size: 20px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    word-break: break-all;
}

.opacidade {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}


.respondido .true {
    color: #009c22;
}

.respondido .false {
    color: #ec362d;
}


.quizz-id {
    opacity: 0;
}

.fim-do-quiz {
    padding-top: 18px;
    font-size: 40px;
    margin: 0 auto;
    width: 759px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 40px;

}

.finalizar-titulo {
    margin: 0 auto;
    width: 96%;
    height: 99px;
    background: #EC362D;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;

}

.quiz-nivel {
    display: flex;
    padding-left: 14px;
    padding-top: 18px;

}

.quiz-nivel img {
    width: 364px;
    height: 273px;
    margin-right: 21px;
    margin-bottom: 20px;
}

.texto-nivel {
    width: 328px;
    height: auto;
    word-wrap: break-word;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
    margin-bottom: 20px;
}

footer {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 60px;
}

.quiz-reiniciar {
    width: 260px;
    height: 52px;
    background: #EC362D;
    border-radius: 15px;
    height: 52px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF5F4;

}

.quiz-reiniciar:hover{
    cursor: pointer;
}
.quiz-voltar{
    width: 260px;
    height: 52px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #818181;
    margin-top: 18px;

}

.quiz-voltar:hover{
    cursor: pointer;
}

@media (max-width: 1100px) {

    .criar-quizz {
        width: 96%;
        margin-top: 31px;
    }

    .listar-quizz {
        width: 96%;
        margin-top: 40px;

    }

    .quizz {
        margin-right: 10px;
    }

    .respostas-quiz {
        width: 100%;
    }

    .titulo-pergunta {
        margin: 0 auto;
        width: 100%;
    }

    .montar-quizz {
        width: 100%;
    }

    .inputs {
        width: 100%;
    }

    .fim-do-quiz{
        width: 100%;
    }
    .quiz-nivel{
        width: 100%;
    }

    .quiz-nivel img{
        width: 50%;
    }

    .texto-nivel{
        width: 45%;
    }

}